<div class="row-fluid">
  <div class="span12 alert alert-info">
    <%= @conseil %>
  </div>
  <div class="span12 une_main"<%= tooltip("points = #{@partie.joueurs[0].a_pose_combien}") %>>
    <ul class="ma_main"><% @partie.joueurs[0].cartes.each do |carte| %>
      <li><%= img_carte(carte, @partie.carte_tiree) %></li><% end %>
    </ul>
  </div>
</div>

<% if @is_local %><div class="row-fluid">
  <div class="span12">
    <%= @partie.coups.reverse.to_s %>
  </div>
</div><% end %>
