body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #16a085; /* green sea */
}

body,
h1, h2, h3, h4, h5, h6
{
  font-family: "Century Gothic", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
  color: #ecf0f1; /* clouds */
}

.nav-pills li a {
  color: #7f8c8d;
  background-color: #ecf0f1;
  margin-left: 10px;
}

.nav-pills li a:hover {
  color: #ecf0f1;
  background-color: #95a5a6;
}

.container-narrow {
  margin: 0 auto;
  max-width: 1000px;
}

.table-hover tbody tr:hover
{
  color: #333; /* sinon hover est invisible sur fond vert */
}


/* Mise en évidence des piles pioche et défausse
   --------------------------------------------- */

.sabots {
  margin: 10px 0;
}

#la_pioche,
#la_defausse
{
  border: 5px solid #1abc9c; /* turquoise */
  border-radius: 5px;
  height: 122px;
  margin: 0 10px;
  padding: 5px;
  width: 88px;
}

#la_pioche .card,
#la_defausse .card
{
  margin: 0;
}


/* Signale un endroit OK pour faire le drop
   ---------------------------------------- */

.hovered
{
  background-color: #1abc9c; /* turquoise */
}

/* Présentation des 12 tas de combinaisons
   --------------------------------------- */

#tas
{
  border: 5px solid #1abc9c; /* turquoise */
  border-radius: 5px;
  padding: 5px;
}

#tas .un_tas
{
  border: 1px dotted #1abc9c;
  height: 80px;
  margin-bottom: 5px;
}

#tas10,
#tas11
{
  margin-bottom: 0 !important;
}
